@media (min-width: 1025px) {
  .product {
    &__icon {
      right: (-$base-size * 5);
    }

    &__order {
      width: calc(100% - 400px);
    }

    &__images {
      width: 350px;
      height: 350px;

      &.small {
        width: 220px;
        height: 220px;
      }

      > img {
        @include center();
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product {
    &__icon {
      right: (-$base-size * 5);
    }

    &__order {
      width: calc(100% - 400px);
    }

    &__images {
      width: 350px;
      height: 350px;

      &.small {
        width: 220px;
        height: 220px;
      }

      > img {
        @include center();
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .product {
    &__icon {
      right: (-$base-size * 5);
    }

    &__order {
      width: calc(100% - 400px);
    }

    &__images {
      width: 350px;
      height: 350px;

      &.small {
        width: 220px;
        height: 220px;
      }

      > img {
        @include center();
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .product {
    &__icon {
      right: (-$base-size * 5);
    }

    &__order {
      width: 100%;
    }

    &__images {
      width: 205px;
      height: 205px;

      &.small {
        width: 150px;
        height: 150px;
      }

      > img {
        @include center();
        left: 0;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .product {
    &__icon {
      right: (-$base-size * 2);
    }

    &__order {
      width: 100%;
    }

    &__images {
      display: none;

      &.small {
        display: none;
      }
    }
  }
}

