.header {
  padding: ($base-size * 5) 0;
  background-image: url('../../images/pizza-4968645_1280.jpg');
  background-position: center center;
  background-size: cover;
  color: $color-light;

  &__wrapper {
    @include flex(column, center, center);
    position: relative;
  }

}

.logo {
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1.5);
    font-weight: $font-light;
    font-style: italic;
  }

}
